<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
        
                </div>
                <div class="col-sm-6">
                    <a class="nav-link active btn" href="#">FlashCards</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <a class="nav-link btn" href="#">Disabled</a>
                </div>
                <div class="col-sm-6">
                    
                </div>
            </div>
        </div>
    </div>

</div>