/* You can add global styles to this file, and also import other style files */
body {
  background-color: #5CDB95;
}

.WebContainer{
  width:auto;
  min-width:1000px;
  height:auto;
}


.header {
  margin-top: 0%;
  color: white;
  padding: 20px;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.footer {
  margin-top: 50px;
  padding: 20px;
  width: 100%;
  height: auto;
  border-radius: 8px;
}